*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial;
  background-color: #f0f0f0;
}
.navbar{
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.navbar button{
  padding: 5px 10px;
  cursor: pointer;
}
.search-area{
  margin: 15px;
}
.search-area input{
  padding: 6px;
  width: 200px;
}
#cardsContainer{
  margin: 15px;
}
.card{
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
.card p{
  font-size: 14px;
}
#noResult{
  display: none;
  margin: 15px;
  color: red;
}